<%- include('partials/header') %>

<p>[FOUNDERS] started [COMPANY] because [EXPLAIN PROBLEM IN YOUR INDUSTRY].

That's why [DESCRIBE JOURNEY TO SOLUTION].

Along the way, [SHARE MILESTONES AND WINS].

We want to be [STATE YOUR MISSION GOING FORWARD]. </p>

<img height="400px" width="400px" src="images/your_team.jpg" alt="your_team">

<h4>You can know more about us bu checking our social media handles:</h4>
<span style="color:pink">Instagram-</span>
<a href="">C2C</a>
<span style="color:blue">Twitter-</span>
<a href="www.twitter.com">C2C</a>

<%- include('partials/footer')%>
