<%- include('partials/header') %>

<form class="bankform" id="loanForm" action="">
<h3 class="username">Apply for a Loan</h3>
<input name="firstname" type="text" placeholder="Your name" class="box"><br>
<input type="text" placeholder="Account number" class="box"><br>
<input type="number" placeholder="Loan amount" class="box"><br>
<input type="text" placeholder="Tenure" class="box"><br>
<input type="number" placeholder="Interest rate" class="box"><br>
<button type="button" name="button" class="btn btn-1" type="button">Apply</button>
<form class="application" id="loanForm" action="">

<%- include('partials/footer') %>
