<%- include('partials/header') %>

<% if (locals.user.bankDetails.accNo){ %>
<div class="row">
<div class="col-md-6 col-sm-12">
<form class="bankform" id="loanForm" action="/users/profile/loan/applyLoanSubmit" method="POST">
<h3 class="username">Apply for a Loan</h3>
<input name="amount" type="number" placeholder="Loan amount" class="box"><br>
<input name="tenure" type="text" placeholder="Tenure" class="box"><br>
<input name="interest" type="number" placeholder="Interest rate" class="box"><br>
<button type="submit" name="button" class="btn btn-1" type="button">Apply</button>
</div>
        <% }
        else{ %>
          <h1>Fill your details(bank) first to apply for Loan</h1>
        <a class="navtext nav-link" href="/users/profile/<%=user.id%>/myDetails">My Details</a>
  <% } %>

<div class="col-md-6 col-sm-12">
<img class="doc-pic" src= "/images/loan1.jpg" alt="loan-pic">
</div>
</div>
<%- include('partials/footer') %>
