<%- include('partials/header') %>

<!-- title -->
<div class="row">
  <div class="col-md-6 col-sm-12">
    <img class="doc-pic" src= "images/main_image.jpg" alt="loan-pic">
    <h2 class="tagline">Quick and Efficient loan solution.</h2>
  </div>
  <div class="col-md-6 col-sm-12 headInfo">
    <h1 class="main-head">C2C - One stop solution to your loan problems.</h1>
    <p class="intro">Our platform serves as bridge between people seeking financial help through loans and people willing to lend it.Get and lend loans at attractive rates and at flexible tenure to fulfill your cherished dreams.</p>
    <a href="/applyLoan"><button class="btn btn-lg btn-light btn-1" type="button" name="button">Apply for a loan</button></a>
    <a href="/giveLoan"><button class="btn btn-lg btn-dark btn-1" type="button" name="button">Lend a loan</button></a>
  </div>
</div>
<%- include('partials/footer') %>
